
<div class="card-deck">
<div class="card">
<div class="card-body">
    <img src="./assets/apples.jpg" alt="no img">
    </div>
<div class="card-footer">
Apple(1kg)
<br>
price:Rs:50.00
<br>
<button type="button" class="btn btn-primary btn-small">Add</button>
</div>
</div>

    
<div class="card">
<div class="card-body">
    <img src="./assets/kiwi.jpg" alt="no img">
</div>
<div class="card-footer">
kiwi-Green(4pc)
<br>
price:Rs:100.00
<br>
<button type="button" class="btn btn-primary btn-small">Add</button>
</div>
</div>

            


<div class="card">
<div class="card-body">
<img src="./assets/mangoes.jpg"alt="no img">
</div>
<div class="card-footer">
Mangoes(1kg)
<br>
price:Rs:60.00
<br>
<button type="button" class="btn btn-primary btn-small">Add</button>
</div>
</div>

<div class="card">
<div class="card-body">
<img src="./assets/papaya.jpg" alt="no img">
</div>
<div class="card-footer">
Papaya(1pc)
<br>
price:Rs:56.00
<br>
<button type="button" class="btn btn-primary btn-small">Add</button>
</div>
</div>
</div>

<div class="card-deck">
<div class="card">
<div class="card-body">
    <img src="./assets/strawberry.jpg" alt="no img">
</div>
<div class="card-footer">
Strawberry(200g)
<br>
price:Rs:45.00
<br>
<button type="button" class="btn btn-primary btn-small">Add</button>
</div>
</div>


<div class="card">
<div class="card-body">
<img src="./assets/Dragon fruit.jpg" alt="no img">
</div>
<div class="card-footer">
Dragon Fruit(1pc)
<br>
price:Rs:107.00
<br>
<button type="button" class="btn btn-primary btn-small">Add</button>
</div>
</div>

<div class="card">
<div class="card-body">
<img src="./assets/oranges.jpg" alt="no img">
</div>
<div class="card-footer">
Orange-Nagpur(1kg)
<br>
price:Rs:60.00
<br>
<button type="button" class="btn btn-primary btn-small">Add</button>
</div>
</div>



<div class="card">
<div class="card-body">
    <img src="./assets/muskmelon.jpg" alt="no img">
</div>
<div class="card-footer">
Muskmelon(1pc)
<br>
price:Rs:64.00
 <br>
 <button type="button" class="btn btn-primary btn-small">Add</button>
</div>
</div>
</div>


<div class="card-deck">
<div class="card">
<div class="card-body">
<img src="./assets/sapota.jpg" alt="no img">
</div>
<div class="card-footer">
Sapota(500g)
<br>
price:Rs:27.00
<br>
<button type="button" class="btn btn-primary btn-small">Add</button>
</div>
</div>

<div class="card">
<div class="card-body">
    <img src="./assets/watermelon.jpg" alt="no img">
</div>
<div class="card-footer">
Watermelon(1pc)
<br>
price:Rs:48.00
<br>
<button type="button" class="btn btn-primary btn-small">Add</button>
</div>
</div>


<div class="card">
<div class="card-body">
    <img src="./assets/custard apple.jpg" alt="no img">
</div>
<div class="card-footer">
Custardapple(6pcs)
<br>
price:Rs:50.00
<br>
<button type="button" class="btn btn-primary btn-small">Add</button>
</div>
</div>

<div class="card">
<div class="card-body">
    <img src="./assets/pineapple.jpg" alt="no img">
</div>
<div class="card-footer">
Pineapple(1pc)
<br>
price:Rs:57.00
<br>
<button type="button" class="btn btn-primary btn-small">Add</button>
</div>
</div>
</div>


<div class="card-deck">
<div class="card">
<div class="card-body">
    <img src="./assets/promagranates.jpg" alt="no img">
</div>
<div class="card-footer">
Promegranate(2pcs)
<br>
price:Rs:80.00
<br>
<button type="button" class="btn btn-primary btn-small">Add</button>
</div>
</div>

<div class="card">
<div class="card-body">
    <img src="./assets/mosambi.jpg" alt="no img">
</div>
<div class="card-footer">
Mosambi(1kg)
<br>
price:Rs:64.00
<br>
<button type="button" class="btn btn-primary btn-small">Add</button>
</div>
</div>

<div class="card">
<div class="card-body">
    <img src="./assets/guava.jpg"alt="no img">
</div>
<div class="card-footer">
Guava(500g)
<br>
price:Rs:32.00
<br>
<button type="button" class="btn btn-primary btn-small">Add</button>
</div>
</div>

<div class="card">
<div class="card-body">
<img src="./assets/grapes.jpg" alt="no img">
</div>
<div class="card-footer">
Grapes-Black(500g)
<br>
price:Rs:36.00
<br>
<button type="button" class="btn btn-primary btn-small">Add</button>
</div>
</div>
</div>






<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
    <section id="footer">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                <hr>
            </div>  
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
                    <p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
                </div>
                <hr>
            </div>  
        </div>
    </section>
    <!-- ./Footer -->
