<div class="card-deck">
<div class="card">
    <div class="card-body">
        <img src="./assets/dairy whiterner.jpg" class="rounded"> 
   
   <div class="card-footer">
       Milk Powder(1kg)
       <br>
       price:Rs:350.00
   </div>
    </div>
     </div>

     <div class="card">
        <div class="card-body">
       <img src="./assets/Amul fresh cream.jpg"alt="no img">
       <div class="card-footer">
           Amul Fresh Cream(250ml)
           <br>
           price:Rs:59.00
       </div>
        </div>
         </div>

         <div class="card">
            <div class="card-body">
           <img src="./assets/paneer.jpg" alt="no img">
           <div class="card-footer">
               Paneer(200g)
               <br>
               price:Rs:78.00
           </div>
            </div>
             </div>

             <div class="card">
                <div class="card-body">
               <img src="./assets/Lassi.jpg" alt="no img">
               <div class="card-footer">
                   Lassi(250ml)
                   <br>
                   price:Rs:30.00
               </div>
                </div>
                 </div>
                </div>

<div class="card-deck">
                 <div class="card">
                    <div class="card-body">
                    <img src="./assets/Butter.jpg" alt="no img">
                    <div class="card-footer">
                    Peanut Butter(400g-Jar)
                    <br>
                    price:Rs:150.00
                    <br>
                    <button type="button" class="btn btn-primary btn-small">Add</button>
                    </div>
                    </div>
                    </div>
                
                    <div class="card">
                        <div class="card-body">
                        <img src="./assets/curd.jpg" alt="no img">
                        <div class="card-footer">
                        Jersey Curd(150g)
                        <br>
                        price:Rs:20.00
                        <br>
                        <button type="button" class="btn btn-primary btn-small">Add</button>
                        </div>
                        </div>
                        </div>
                
                        <div class="card">
                            <div class="card-body">
                            <img src="./assets/amul cheese.png" alt="no img">
                            <div class="card-footer">
                            Amul Spread Cheese(750g)
                            <br>
                            price:Rs:350.00
                            <br>
                            <button type="button" class="btn btn-primary btn-small">Add</button>
                            </div>
                            </div>
                            </div>
                
                            <div class="card">
                                <div class="card-body">
                                    <img src="./assets/cow ghee.jpg"alt="no img">
                                <div class="card-footer">
                                Cow Ghee(500ml)
                                <br>
                                price:Rs:275.00
                                <br>
                                <button type="button" class="btn btn-primary btn-small">Add</button>
                                </div>
                                </div>
                                </div>
</div> 
<div class="card-deck">
<div class="card">
    <div class="card-body">
        <img src="./assets/dairy milk.jpg" alt="no img">
    <div class="card-footer">
    Chocolate Home-Treat Pack(126g)
    <br>
    price:Rs:120.00
    <br>
    <button type="button" class="btn btn-primary btn-small">Add</button>
    </div>
    </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="./assets/kitkat.jpg" alt="no img">
        <div class="card-footer">
        KitKat(Pack of 3)
        <br>
        price:Rs:50.00
        <br>
        <button type="button" class="btn btn-primary btn-small">Add</button>
        </div>
        </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="./assets/hersheys.jpg" alt="no img">
            <div class="card-footer">
            Chocolate Syrup(632g)
            <br>
            price:Rs:170.00
            <br>
            <button type="button" class="btn btn-primary btn-small">Add</button>
            </div>
            </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <img src="./assets/strawberry ice cream.jpg" alt="no img">
                <div class="card-footer">
                Natural Strawberry(Pack Of 2)
                <br>
                price:Rs:150.00
                <br>
                <button type="button" class="btn btn-primary btn-small">Add</button>
                </div>
                </div>
                </div>
</div>
<div class="card-deck">

                <div class="card">
                    <div class="card-body">
                        <img src="./assets/badam milk.jpg" alt="no img">
                    <div class="card-footer">
                    Badam Milkshake(5X200ml)
                    <br>
                    price:Rs:95.00
                    <br>
                    <button type="button" class="btn btn-primary btn-small">Add</button>
                    </div>
                    </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <img src="./assets/lotte choco pie.jpg" alt="no img">
                        <div class="card-footer">
                        Lotte Choco Pie(336g)
                        <br>
                        price:Rs:134.00
                        <br>
                        <button type="button" class="btn btn-primary btn-small">Add</button>
                        </div>
                        </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <img src="./assets/melody chocolate.jpg" alt="no img">
                            <div class="card-footer">
                            Melody(195g)
                            <br>
                            price:Rs:50.00
                            <br>
                            <button type="button" class="btn btn-primary btn-small">Add</button>
                            </div>
                            </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <img src="./assets/perk images.jpg" alt="no img">
                                <div class="card-footer">
                                Perk Bites(175g)
                                <br>
                                price:Rs:70.00
                                <br>
                                <button type="button" class="btn btn-primary btn-small">Add</button>
                                </div>
                                </div>
                                </div>
                            </div>
                            <app-footer></app-footer> 
                                           