<div class="card">
    <div class="card-body">
    <img src="./assets/mangoes.jpg"alt="no img">
    </div>
    <div class="card-footer">
    Mangoes(1kg)
    <br>
    price:Rs:60.00
    <br>
    <button type="button" class="btn btn-primary btn-small">Track Order</button>
    </div>
    </div>


    <div class="card">
        <div class="card-body">
        <img src="./assets/Dragon fruit.jpg" alt="no img">
        </div>
        <div class="card-footer">
        Dragon Fruit(1pc)
        <br>
        price:Rs:107.00
        <br>
        <button type="button" class="btn btn-primary btn-small">Track Order</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
       <img src="./assets/lemon.jpg"alt="no img">
       <div class="card-footer">
           Lemon(3pcs)
           <br>
           price:Rs:12.00
           <br>
           <button type="button" class="btn btn-primary btn-medium">Track Order</button>
       </div>
        </div>
         </div>

         










            
            













<app-footer></app-footer>
