<div class="card-deck">
<div class="card">
    <div class="card-body">
<img src="./assets/sweet corn.jpg"alt="no img">
<div class="class-footer">
    Sweet corn(3pcs)
    <br>
    price:Rs:45.00
    <br>
    <button type="button" class="btn btn-primary btn-md">Add</button>

 </div>
</div>
</div>

<div class="card">
    <div class="card-body">
   <img src="./assets/lemon.jpg"alt="no img">
   <div class="card-footer">
       Lemon(3pcs)
       <br>
       price:Rs:12.00
       <br>
       <button type="button" class="btn btn-primary btn-medium">Add</button>
   </div>
    </div>
     </div>

     <div class="card">
        <div class="card-body">
       <img src="./assets/bitter gourd.jpg"alt="no img">
       <div class="card-footer">
           Bitter gourd(500g)
           <br>
           price:Rs:20.00
           <br>
           <button type="button" class="btn btn-primary btn-medium">Add</button>
     </div>
        </div>
         </div>




         <div class="card">
            <div class="card-body">
                <img src="./assets/beetroot.jpg" alt="no img">
           
           <div class="card-footer">
               Beetroot(500g)
               <br>
               price:Rs:35.00
               <br>
               <button type="button" class="btn btn-primary btn-small">Add</button>
           </div>
            </div>
             </div>
            </div>

            <div class="card-deck">
             <div class="card">
                <div class="card-body">
               <img src="./assets/potato.jpg" alt="no img">
               <div class="card-footer">
                   Potato(1kg)
                   <br>
                   price:Rs:27.00
                   <br>
                   <button type="button" class="btn btn-primary btn-small">Add</button>
               </div>
                </div>
                 </div>
            
                 <div class="card">
                    <div class="card-body">
                   <img src="./assets/carrot.jpg" alt="no img">
                   <div class="card-footer">
                     Carrot(250g)
                       <br>
                       price:Rs:21.00
                       <br>
                       <button type="button" class="btn btn-primary btn-small">Add</button>
                   </div>
                    </div>
                     </div>
                    
                
                   

                     <div class="card">
                        <div class="card-body">
                            <img src="./assets/brinjal.jpg" alt="no img">
                       
                       <div class="card-footer">
                           Brinjal(500g)
                           <br>
                           price:Rs:15.00
                           <br>
                           <button type="button" class="btn btn-primary btn-small">Add</button>
                       </div>
                        </div>
                         </div>

                         <div class="card">
                            <div class="card-body">
                            <img src="./assets/radish.jpg" alt="no img">
                            <div class="card-footer">
                            Radish(500g)
                            <br>
                            price:Rs:10.00
                            <br>
                            <button type="button" class="btn btn-primary btn-small">Add</button>
                            </div>
                            </div>
                            </div>
                            </div>

 <div class="card-deck">
                            <div class="card">
                                <div class="card-body">
                                <img src="./assets/images/lady finger.jpg" alt="no img">
                                <div class="card-footer">
                                Lady Finger(500g)
                                <br>
                                price:Rs:26.00
                                <br>
                                <button type="button" class="btn btn-primary btn-small">Add</button>
                                </div>
                                </div>
                                </div>
                

                

                                <div class="card">
                                    <div class="card-body">
                                    <img src="./assets/spring onion.jpg" alt="no img">
                                    <div class="card-footer">
                                    Spring Onion(500g)
                                    <br>
                                    price:Rs:30.00
                                    <br>
                                    <button type="button" class="btn btn-primary btn-small">Add</button>
                                    </div>
                                    </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-body">
                                        <img src="./assets/cabbage.jpg" alt="no img">
                                        <div class="card-footer">
                                        Cabbage(1pc)
                                        <br>
                                        price:Rs:18.00
                                        <br>
                                        <button type="button" class="btn btn-primary btn-small">Add</button>
                                        </div>
                                        </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-body">
                                            <img src="./assets/peas.jpg" alt="no img">
                                            <div class="card-footer">
                                            Green Peas(500g)
                                            <br>
                                            price:Rs:35.00
                                            <br>
                                            <button type="button" class="btn btn-primary btn-small">Add</button>
                                            </div>
                                            </div>
                                            </div>
 </div>
    
                                    

                                        

                                            

                                                
 <div class="card-deck">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <img src="./assets/tomato.jpg" alt="no img">
                                                        <div class="card-footer">
                                                        Tomato(1kg)
                                                        <br>
                                                        price:Rs:25.00
                                                        <br>
                                                        <button type="button" class="btn btn-primary btn-small">Add</button>
                                                        </div>
                                                        </div>
                                                        </div>

                                                        <div class="card">
                                                            <div class="card-body">
                                                                <img src="./assets/onion.jpg" alt="no img">
                                                            <div class="card-footer">
                                                            Onion(1kg)
                                                            <br>
                                                            price:Rs:43.00
                                                            <br>
                                                            <button type="button" class="btn btn-primary btn-small">Add</button>
                                                            </div>
                                                            </div>
                                                            </div>

                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <img src="./assets/capcicum.jpg" alt="no img">
                                                                <div class="card-footer">
                                                                Capcicum(500g)
                                                                <br>
                                                                price:Rs:34.00
                                                                <br>
                                                                <button type="button" class="btn btn-primary btn-small">Add</button>
                                                                </div>
                                                                </div>
                                                                </div>

                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <img src="./assets/cauliflower.jpg"alt="no img">
                                                                    <div class="card-footer">
                                                                    Cauliflower(1pc)
                                                                    <br>
                                                                    price:Rs:18.00
                                                                    <br>
                                                                    <button type="button" class="btn btn-primary btn-small">Add</button>
                                                                    </div>
                                                                    </div>
                                                                    </div>

                                   </div> 
                                                                 
 <app-footer></app-footer>                             



             